/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    height: 700px; /* Ajuste a altura do vídeo */
    position: relative;
}

.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.informacoes {
    width: 100%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.botao {
    background-color: #000;
    color: #fff;
    padding: 10
}